html {
	height: 100%;
}

body {
    background-color: #F9F9F9;
	height: 100%;
	font-family: 'Inter', sans-serif;
}

#root {
	height: 100%;
}

.home-card{
    width: 300px;
    height: 205px;
	box-shadow: rgba(42, 80, 118, 0.25) 0px 3px 5px 0px;
	border-radius: 21px;
	margin-top: 30px;
}

div > a {
	color: rgb(14, 14, 14);
  	text-decoration: none;
}

div > a:hover {
	color: rgb(14, 14, 14);
}

div > a:visited {
	color: rgb(14, 14, 14);
}

.home-card > h6 {
	font-style: bold;
}

.home-card > .card-title {
	font-family: 'Poppins';
	font-style: bold;
	font-weight: 600;
	font-size: 100px;
	line-height: 143%;
	/* or 57px */

	text-align: center;
	letter-spacing: -0.03em;


	color: #1F1F1F;
}

.home-card > .card-icon{
    width: 100px;
    height: 100px;
}

.home-card ion-icon {
    font-size: 64px;
	color: rgba(245, 143, 61, 1);
    --ionicon-stroke-width: 25px;
}

.header-icon {
	margin-left: 35px;

}

.logo-monarca{
	margin-top: 30px;
	margin-left: 15px;
}

.header {
	margin-top: 15px;
}

.table-container {
	min-width: 1300px;
	min-height: auto;
	box-shadow: rgba(42, 80, 118, 0.25) 0px 3px 5px 0px;
	position: absolute;
	border-radius: 21px;
	margin-top: -80px;
	padding: 30px;
}

ion-icon {
	color: rgba(245, 143, 61, 1);
	--ionicon-stroke-width: 35px;
}

.gradient-white-orange{
	background: linear-gradient(to bottom right, #ffffff, #FF800A);
}

.flex-align-center{
	display: flex;
	flex: column;
	justify-content: center;
	align-items: center;
}

.div-middle{
	height: 49%;
  	background-color: #ffffff;
}

.workerName {
	margin: 1.5rem 0;
	font-size: 1.5rem;
}

.cardName {
	transition-duration: 0.4s;
	border-radius: 21px;
	color: #1F1F1F;
	font-size: 2rem;
}

.cardName:hover {
	background-color: #F69223;
  	color: white;
	box-shadow: 0px 10px 30px rgba(122, 137, 254, 0.04);
}

.cardName:focus {
	background-color: #FF800A;
	color: white;
}

.numberBtn {
	border-radius: 8px;
	display: flex;
	align-items: center;
	text-align: center;
    justify-content: center;
	background: #f3f6f9;

	font-style: normal;
	font-weight: 400;
	font-size: 50px;
}

.card-shadow {
	box-shadow: rgba(42, 80, 118, 0.25) 0px 3px 5px 0px;
	border-radius: 16px;
	padding: 20px;
}

.search-box {
	/* Auto layout */
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 7px 0px 8px 16px;

	background: #F5F5F5;
	border-radius: 8px;
	border-color: transparent;

	/* Inside auto layout */
	/* flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
	margin: 0px 16px; */
}

.search-box > input {
	background-color: transparent;
	border-color: transparent;
	margin-left: 5px;
}

.search-box ion-icon {
	color: #9E9E9E;
}

.btn-monarca {
	background: linear-gradient(95.71deg, #F69223 -39.64%, rgba(238, 98, 52, 0.7) 135.31%);
	border-radius: 8px;
	color: white;
	font-style: bold;
}

.tab-select {
	background: #F3F6F9;
	border-radius: 8px;
	padding: 7px;
}

.tab-select .nav-link {
	color: black;
}

.tab-select .nav-link.active {
	background-color: white;
	box-shadow: 0px 3px 5px rgba(42, 80, 118, 0.25);
	border-radius: 8px;
	color: black;
}

.quantity-input button {
	background-color: #F3F6F9;
	border-radius: 8px;
}

.quantity-input ion-icon {
	color: black;
}

.quantity-input input {
	background-color: #F3F6F9;
	border: transparent;
	border-radius: 8px;
	font-size: 40px;
	padding-inline-start: 20px;
}