.sidebar {
  margin: 0;
  padding: 0;
  width: 260px;
  position: fixed;
  height: 100%;
  overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.nav-pills .nav-link.active {
  background-color: #f58f3d;
  box-shadow: 0px 8px 20px rgba(254, 209, 122, 0.25);
}

.sidebar-tab {
  border-radius: 17px;
  color: white;
}

.nav-link {
  border-radius: 17px;
  color: #232859;
}

.tab-icon {
  margin: 50px;
}

.nav-link-icon {
  font-size: 0.9rem;
  padding-right: 0.6rem;
  display: inline-flex;
}

.btn-sidebar {
  max-width: max-content;
  color: #232859;
  padding: 0.5rem 1rem;
}

.btn-sidebar::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23f58f3d' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
  fill: #f58f3d;
}

.btn-sidebar[aria-expanded="true"]::before {
  transition: transform 200ms linear;
  transform: rotateZ(90deg);
  display: inline-block;
}

.btn-sidebar[aria-expanded="false"]::before {
  transition: transform 200ms linear;
  transform: rotateZ(0deg);
  display: inline-block;
}